{% extends "base.html" %}

{% block title %}단어 입력{% endblock %}

{% block content %}
  <h1 onclick="location='{% url 'index' %}'">글자수 및 단어수 세기(클릭 시 WelcomePage로)</h1>
  <a href="/wordcnt/about">ABOUT(도움말)</a>
  <a href="{% url 'wordcnt:about' %}">ABOUT(도움말)</a>
  <!--input 작업은 POST 방식으로 전달, SECRET_KEY 같이 보내줌-->
  <!--form태그로 전달할 때는 "/wordcnt/result/" result 뒤에 / 붙여주기-->
  <!--<form action="/wordcnt/result/" method="post">-->
  <form action="{% url 'wordcnt:result' %}" method="get">
    {#% csrf_token %#}
    <textarea name="fulltxt" cols="40" rows="10"></textarea>
    <input type="submit" value="계산결과">
  </form>
{% endblock %}