#contain {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid lightgray;
}

    #contain #header {
        height: 150px;
        padding: 0;
        line-height: 150px;
        box-sizing: border-box;
        border: 1px solid lightgray;
        background-color: yellow;
        text-align: center;
        font-size: 1.5em;
    }

    #contain #nav {
        height: 180px;
        margin: 10px 0 0 0;
        box-sizing: border-box;
        border: 1px solid lightgray;
        text-align: center;
        font-size: 1.5em;
        overflow: hidden;
    }

        #contain #nav a {
            padding: 15px 50px 15px 50px;
            margin: 0 0 20px 0;
            text-decoration: none;
            color: purple;
            font-weight: bold;
            background-color: pink;
            margin: 5px;
            float: left;
            box-sizing: border-box;
            display: block;
        }

            #contain #nav a:nth-child(2) {
                border-radius: 20px 0 0 20px
            }

            #contain #nav a:nth-child(6) {
                border-radius: 0 20px 20px 0
            }

    #contain #section {
        border: 1px solid lightgray;
        margin: 10px 0 0 0;
        overflow: hidden;
    }

        #contain #section #content {
            float: left;
            margin: 10px 0 10px 10px;
            width: 580px;
            height: 300px;
            border: 1px solid lightgray;
            text-align: center;
            font-size: 1.5em;
        }

        #contain #section #banner {
            float: left;
            margin: 10px;
            width: 380px;
            height: 300px;
            border: 1px solid lightgray;
            text-align: center;
            font-size: 1.5em;
        }

    #contain #footer {
        height: 150px;
        line-height: 150px;
        font-size: 1.5em;
        text-align: center;
        background-color: yellow;
    }
