#wrap {
    width: 600px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 10px;
}

#content {
    border-bottom: 1px solid gray;
}

    #wrap #content > h2 {
        font-weight: normal;
        text-decoration: underline;
        text-align: center;
        padding: 20px 20px 30px 20px;
    }

    #content p:nth-child(2) {
        font-weight: bold;
        font-size: 1.07em;
    }

    #content p:nth-child(3) {
        padding: 10px;
    }

    #content p:nth-child(4) {
        text-align: right;
        font-weight: bold;
    }

#footer {
    text-align: center;
    height: 100px;
}

    #footer ul {
        padding: 0;
        margin: 0;
    }

    #footer li {
        list-style: none;
        line-height: 100px;
        margin: 0;
    }

    #footer ul li a {
        font-size: 1.2em;
        text-decoration: none;
    }

        #footer ul li a::after {
            content: ' - ' attr(href);
        }
