<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "{{ url_for('static', filename = 'file.css') }}"
          rel  = "stylesheet">
    <title>Title</title>
</head>
<body>
    <h1>구구단을 외자</h1>
    <h2>원하는 구구단을 입력하세요</h2>
    <form action = "/" method = "post">
        <input type = "number" name = "number" placeholder = "아무수나 입력해보셈">
        <input type = "submit" value = "구구단 확인하기">
    </form>

    {% if number == None or number == '' %}
        <h2>아직 구구단 수 입력 전</h2>
    {% endif %}

    {% if number|int %}
        {% for i in range(1, 10) %}
            <p>{{ number }} X {{i}} = {{ number|int * i}}</p>
        {% endfor %}
    {% endif %}
</body>
</html>